<html>
  <head>
    <title>Mountain Finder</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to the Mountain Finder</h1>
    <h2>Search for Mountains in the United States.</h2>
    <input type="text" id="textField" placeholder="Search for a mountain" onkeyup="searchMountain()">
    <br>
    <br>
    <div id="results"></div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>